venv
venv/*

db.sqlite3

.idea/*
.coverage

*.pyc
*/*.pyc
*/*/*.pyc

node_modules/*
frontend/node_modules/*
frontend/package-lock.json
frontend/static/bundles/*
frontend/webpack-stats.json
trash/*
temp/*